.App {
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  /* align-items: center; */
  /* border: 2px solid black; */
  margin: 10px 20px;
  border-radius: 5px;
}

.box{
  border: 2px solid black;
  padding:20px ;
  width: 45%;
  border-radius: 5px;
}

h2, form{
  text-align: center;
}

h2{
text-decoration: underline;
}

.questionBox{
    border:2px dashed grey;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:5px;
}
.error{
  color:red;
  font-size: 10px;
}

/* Style for the Add Question button */
.add-question, .answer {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius:5px;
}

.add-question, .answer:hover {
  background-color: #45a049;
}

/* Style for the Add Option button */
.add-option{
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius:5px;
}

.add-option:hover {
  background-color: #0079A1;
}

/* Style for the Delete Option button */
.delete-option {
  background-color: #FF5733;
  color: #fff;
  border: none;
  padding: 3px 7px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius:50%;
}

.delete-option:hover {
  background-color: #E74C3C;
}

/* Delete Button with Hover Effect */
.delete-button {
  background-color: #ff4015;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #a13225;
}

/* Styled Input Field */
input {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  padding: 7px;
  transition: border-color 0.3s;
  margin:2px 1px;
}

input:focus {
  border-color: #007BFF;
  outline: none;
}

/* Placeholder Text Color */
input::placeholder {
  color: #999;
}

button[type="submit"]{
  background-color: #008CBA;
  padding: 10px 20px;
  border-radius: 4px;
  border:none;
  color:white;
  margin-left: 10px;
}